body {
    background-image: url('blue.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
fieldset {
    max-width:220px;
    border-color: black;
    border-style: solid;
}
#vya {
    display:block;
    border: 5px solid;
    border-radius: 10px;
    width:280px;
    height:auto;
}
h1,h3 {
    text-align: center;
}
#container {
    background-color: rgba(255, 255, 255, 0.801);
    border: 5px black solid;
    padding:28px;
    margin: auto;
    white-space: initial;
    border-radius: 10px;
}
marquee {
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgba(25, 25, 112, 0.502);
    color:white;
}
.navbar{
    overflow: hidden;
    background-color:midnightblue;
}
.navbar a {
    float:left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover {
    background-color: lightblue;
    color:black;
}
.navbar a.active{
    background-color: cornflowerblue;
    color:white;
}
*{
    box-sizing: border-box;
}
.row::after{
    content:"";
    clear:both;
    display: table;
}
[class*="col-"] {
    float:left;
}
@media only screen and (min-width:768px) {
    #container {width:50%;}
    .col-1 {width:35%;margin-left:auto;margin-right:auto;}
    .col-2 {width:50%;}
}
@media only screen and (min-width:768px) {
    #container {width:800px;}
    .col-s-1 {width:280px;}
    .col-s-2 {width:400px;margin-left:30px;}
}